.admin {
background-color: lightblue;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
}
.enduser {
  background-color: lightcoral;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  }
